@use '../helpers' as *;

.blog-card {
  display: grid;
  grid-template-columns: 24% 1fr auto;
  row-gap: fluid(50, 28);
  padding-block: fluid(80, 40);

  @include tablet {
    grid-template-columns: 1fr auto;
    grid-template-areas:
    'author link'
    'body body';

  }

  &__author {
    @include tablet {
      grid-area: author;
    }
  }

  &__body {
    display: grid;
    row-gap: fluid(30, 20);

    @include tablet {
      grid-area: body;
    }
  }

  &__date {
    font-family: var(--font-family-accent);
    color: var(--color-grey-60);
  }

  &__info {
    display: grid;
    row-gap: fluid(10, 4);
  }

  &__description {
    font-size: fluid(18, 14)
  }

  &__link {
    align-self: center;

    @include tablet {
      grid-area: link;
    }
  }
}